html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    font-size: 100%;
}
.content {
    height: 100%;
}
.content .stop-float {
    clear: both;
}
.content .panel {
    position: relative;
}
.content .panel .title {
    display: block;
}
.content .panel .title h1 {
    padding: 1em 0 1em 1em;
    font-weight: bold;
    font-size: 2em;
}
.content .panel .top-button {
    display: block;
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    padding: .2em;
    border: .1em solid;
    border-radius: .2em;
}
.content .top-menu {
    height: 2em;
    width: 100%;
    background-color: #333333;
    position: relative;
}
.content .top-menu .link {
    display: block;
    position: absolute;
}
.content .top-menu .menu-item {
    display: block;
    position: absolute;
    right: 0;
    text-decoration: none;
    margin: .3em 1em 0 0;
    color: #cccccc;
}
.content .top-menu .menu-item:hover {
    color: #ffffff;
}
.content .image.panel {
    width: 100%;
    height: 40em;
    background-color: #ffffff;
}
.content .image.panel .image {
    height: 40em;
    position: absolute;
    right: 0;
}
.content .image.panel .presentation {
    height: 100%;
    margin-right: 30em;
    margin-left: 10em;
}
.content .image.panel .presentation .name {
    width: 60%;
    margin: 0 auto 0 auto;
    font-size: 2em;
    padding-top: 2em;
}
.content .image.panel .presentation .speciality {
    width: 60%;
    margin: 0 auto 0 auto;
    padding-top: 1em;
}
.content .image.panel .presentation .degree {
    width: 60%;
    margin: 0 auto 0 auto;
    padding-top: 1em;
}
.content .point.panel {
    background-color: #333333;
    text-align: center;
}
.content .point.panel:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.content .point.panel .point {
    width: 10em;
    height: 10em;
    background-color: #444444;
    border: .1em solid #555555;
    margin: 1em;
    float: left;
    border-radius: .5em;
}
.content .point.panel .point .container {
    display: table-cell;
    text-align: center; 
    vertical-align: middle;
    height: 10em;
}
.content .point.panel .point .container .link {
    text-decoration: none;
    color: #cccccc;
}
.content .point.panel .point .container .link:hover {
    color: #ffffff;
}
.content .pir.panel {
    height: 50em;
    background-color: #ffffff;
}
.content .pir.panel .title {
    color: #333333;
}
.content .pir.panel .top-button {
    color: #333333;
    border-color: #333333;
}
.content .blokada.panel {
    height: 50em;
    background-color: #333333;
}
.content .blokada.panel .title {
    color: #ffffff;
}
.content .blokada.panel .top-button {
    color: #ffffff;
    border-color: #ffffff;
}
.content .prof.panel {
    height: 50em;
    background-color: #ffffff;
}
.content .prof.panel .title {
    color: #333333;
}
.content .prof.panel .top-button {
    color: #333333;
    border-color: #333333;
}
.content .contact.panel {
    background-color: #333333;
    padding: 0 0 2em 0;
}
.content .contact.panel .title {
    color: #ffffff;
}
.content .contact.panel .top-button {
    color: #ffffff;
    border-color: #ffffff;
}
.content .contact.panel .info {
    width: 40em;
    margin: 4em 1em 1em 1em;
    float: left;
}
.content .contact.panel .entry {
    color: #ffffff;
    margin-bottom: 1em;
}
.content .contact.panel .info .entry .label {
    width: 10em;
    text-align: right;
    padding: 0 1em 0 0;
    float: left;
}
.content .contact.panel .info .entry .value {
    margin-left: -10em;
}
.content .contact.panel .map {
    border: 0.2em solid #cccccc;
    border-radius: 1em;
    float: left;
    margin: 2em;
    
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

